<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chitu.bigdata.sdp.mapper.SdpApproveMapper">
    <resultMap id="BaseResultMap" type="com.chitu.bigdata.sdp.api.model.SdpApprove">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="project_name" jdbcType="VARCHAR" property="projectName" />
        <result column="job_name" jdbcType="VARCHAR" property="jobName" />
        <result column="approver" jdbcType="VARCHAR" property="approver" />
        <result column="approver2" jdbcType="VARCHAR" property="approver2" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="project_id" jdbcType="BIGINT" property="projectId" />
        <result column="file_id" jdbcType="BIGINT" property="fileId" />
        <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
        <result column="description" jdbcType="LONGVARCHAR" property="description" />
        <result column="opinion" jdbcType="VARCHAR" property="opinion" />
        <result column="opinion2" jdbcType="VARCHAR" property="opinion2" />
        <result column="enabled_flag" jdbcType="TINYINT" property="enabledFlag" />
        <result column="trace_id" jdbcType="VARCHAR" property="traceId" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated_by2" jdbcType="VARCHAR" property="updatedBy2" />
        <result column="updation_date" jdbcType="TIMESTAMP" property="updationDate" />
        <result column="updation_date2" jdbcType="TIMESTAMP" property="updationDate2" />
    </resultMap>
    <resultMap id="BaseResultMap1" type="com.chitu.bigdata.sdp.api.model.SdpApprove">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="project_name" jdbcType="VARCHAR" property="projectName" />
        <result column="job_name" jdbcType="VARCHAR" property="jobName" />
        <result column="approver" jdbcType="VARCHAR" property="approver" />
        <result column="approver2" jdbcType="VARCHAR" property="approver2" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="project_id" jdbcType="BIGINT" property="projectId" />
        <result column="file_id" jdbcType="BIGINT" property="fileId" />
        <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
        <result column="description" jdbcType="LONGVARCHAR" property="description" />
        <result column="opinion" jdbcType="VARCHAR" property="opinion" />
        <result column="opinion2" jdbcType="VARCHAR" property="opinion2" />
        <result column="enabled_flag" jdbcType="TINYINT" property="enabledFlag" />
        <result column="trace_id" jdbcType="VARCHAR" property="traceId" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated_by2" jdbcType="VARCHAR" property="updatedBy2" />
        <result column="updation_date" jdbcType="TIMESTAMP" property="updationDate" />
        <result column="updation_date2" jdbcType="TIMESTAMP" property="updationDate2" />
        <result column="folder_id" jdbcType="BIGINT" property="folderId" />
        <result column="employee_number" jdbcType="VARCHAR" property="employeeNumber" />
    </resultMap>
    <sql id="BaseTable">
        sdp_approve
    </sql>

    <select id="myGet" resultMap="BaseResultMap">
        select sa.id,sa.project_name,sa.job_name,sa.status,su.user_name created_by,sa.creation_date,sa.remark,ifnull(su1.user_name,sa.updated_by) updated_by,
        sa.description,ifnull(su2.user_name,sa.updated_by2) updated_by2,sa.approver,sa.approver2,sa.updation_date,sa.updation_date2,sa.opinion,sa.opinion2,sa.project_id,sa.file_id
        from sdp_approve sa
        left join sdp_user su on su.id = sa.created_by and su.enabled_flag = 1
        left join sdp_user su1 on su1.id = sa.updated_by and su1.enabled_flag = 1
        left join sdp_user su2 on su2.id = sa.updated_by2 and su2.enabled_flag = 1
        where sa.enabled_flag = 1
        and sa.id = #{id}
    </select>

    <update id="myUpdate" parameterType="com.chitu.bigdata.sdp.api.model.SdpApprove">
        update sdp_approve
        <set>
            <if test="projectName != null and projectName != ''">
                project_name = #{projectName},
            </if>
            <if test="jobName != null and jobName != ''">
                job_name = #{jobName},
            </if>
            <if test="approver != null and approver != ''">
                approver = #{approver},
            </if>
            <if test="approver2 != null and approver2 != ''">
                approver2 = #{approver2},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="fileId != null">
                file_id = #{fileId},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="opinion != null and opinion != ''">
                opinion = #{opinion},
            </if>
            <if test="opinion2 != null and opinion2 != ''">
                opinion2 = #{opinion2},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy},
            </if>
            <if test="creationDate != null">
                creation_date = #{creationDate},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedBy2 != null and updatedBy2 != ''">
                updated_by2 = #{updatedBy2},
            </if>
            <if test="updationDate != null">
                updation_date = #{updationDate},
            </if>
            <if test="updationDate2 != null">
                updation_date2 = #{updationDate2}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="queryApply" parameterType="com.chitu.bigdata.sdp.api.bo.SdpApproveBO" resultMap="BaseResultMap1">
        select sa.id,sa.project_name,sa.job_name,sa.status,su.user_name created_by,sa.creation_date,sa.remark,ifnull(su1.user_name,sa.updated_by) updated_by,
        su2.user_name updated_by2,sa.approver,sa.approver2,sa.updation_date,sa.updation_date2,sa.opinion,sa.opinion2,sa.project_id,sa.file_id,sf.folder_id,
        <choose>
            <when test="criteria.vo.type == 'apply'">
                sa.description
            </when>
            <otherwise>
                replace(sa.description,'项目管理员','你') as description
            </otherwise>
        </choose>
        from sdp_approve sa
        inner join sdp_file sf on sf.id = sa.file_id and sf.enabled_flag = 1
        left join sdp_user su on su.id = sa.created_by and su.enabled_flag = 1
        left join sdp_user su1 on su1.id = sa.updated_by and su1.enabled_flag = 1
        left join sdp_user su2 on su2.id = sa.updated_by2 and su2.enabled_flag = 1
        <where>
            sa.enabled_flag = 1
            <if test="criteria.vo.type != null and criteria.vo.type != ''">
                <choose>
                    <when test="criteria.vo.type == 'apply'">
                        and sa.created_by = #{criteria.vo.currentUser}
                    </when>
                    <otherwise>
                        and (find_in_set(#{criteria.vo.currentUser},sa.approver) or find_in_set(#{criteria.vo.currentUser},sa.approver2))
                    </otherwise>
                </choose>
            </if>
            <if test="criteria.vo.startTime != null and criteria.vo.startTime != ''">
                and <![CDATA[sa.creation_date >= STR_TO_DATE(#{criteria.vo.startTime},"%Y-%m-%d")]]>
            </if>
            <if test="criteria.vo.endTime != null and criteria.vo.endTime != ''">
                and <![CDATA[sa.creation_date < STR_TO_DATE(#{criteria.vo.endTime},"%Y-%m-%d")]]>
            </if>
            <if test="criteria.vo.statuss != null and criteria.vo.statuss.size != 0">
                and sa.status in
                <foreach collection="criteria.vo.statuss" item="status" separator="," open="(" close=")">
                     #{status}
                </foreach>
            </if>
            <if test="criteria.orderByClauses != null ">
                <trim prefix=" ORDER  BY " suffix="  " suffixOverrides=",">
                    <foreach collection="criteria.orderByClauses" item="item">
                        <if test="item.field != null and item.field != ''">
                            <if test="item.orderByMode == 0">
                                #{item.field} ASC
                            </if>
                            <if test="item.orderByMode != 0">
                                #{item.field} DESC
                            </if>
                        </if>
                    </foreach>
                </trim>
            </if>
        </where>
    </select>

    <select id="getApply" parameterType="com.chitu.bigdata.sdp.api.model.SdpApprove" resultMap="BaseResultMap">
        select * from sdp_approve
        where enabled_flag = 1
        and status in ('PENDING','APPROVING')
        and project_id = #{projectId}
        and file_id = #{fileId}
    </select>

    <select id="queryPending1" resultType="java.lang.Integer">
        select count(1) count from sdp_approve
        where enabled_flag = 1
        and status = #{status}
        and find_in_set(#{userName},approver)
    </select>

    <select id="queryPending2" resultType="java.lang.Integer">
        select count(1) count from sdp_approve
        where enabled_flag = 1
        and status = #{status}
        and find_in_set(#{userName},approver2)
    </select>

    <update id="cancelApply" parameterType="com.chitu.bigdata.sdp.api.model.SdpApprove">
        update sdp_approve
        set status = #{status}
        where id = #{id}
    </update>

    <select id="queryByFileId" resultMap="BaseResultMap">
        select * from sdp_approve
        where enabled_flag = 1
        and status in ('PENDING','APPROVING')
        and file_id = #{fileId}
    </select>

</mapper>